<div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Check Out What Is <em>Trending</em> In Our Latest <span>News</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
            <img src="assets/images/blog-dec.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a href="#"><img src="assets/images/soloar-2.jpg" alt="Workspace Desktop"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> 12 Jan 2023</li>
                  <li><i class="fa fa-users"></i> Adhrit Global</li>
                  <!-- <li><i class="fa fa-folder"></i> Branding</li> -->
                </ul>
                <a href="#">
                  <h4 class="nan_apply_css">What Is A Solar Panel?</h4>
                </a>
                <p class="nan_apply_css">A Solar panels (also known as "PV panels") is a device that converts light from the sun, which is composed of particles of energy called "photons", ...</p>
                <div class="main-blue-button">
                  <a href="#">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 13 Jan 2023</span>
                  <a href="#">
                    <h4>What Does a Transporting Business Do ?</h4>
                  </a>
                  <p>Transport businesses are a type of business that transports goods or passengers from one location to another...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="assets/images/bigTran.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 13 Jan 2023</span>
                  <a href="#">
                    <h4>Components of a Database Management System</h4>
                  </a>
                  <p>Data entry management has reached the smart age, where techniques have created more efficient ways to capture, analyze, and c...
                  </p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="assets/images/data-big.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 15 Jan 2023</span>
                  <a href="#">
                    <h4>Why Customer Service is Important?</h4>
                  </a>
                  <p>Customer service is the direct connection between your customers and your business. It retains customers and extracts more value from them...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="assets/images/arlington-researc.jpg" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
