<div id="services" class="our-services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="left-image">
          <img src="assets/images/services-left-image.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
        <div class="section-heading">
          <h2>Grow your Bussiness with our <em>Logistics</em> services &amp; <span>business</span> Ideas</h2>
          <p>A digital transformation occurs when an industry adopts digitalization in all aspects of business. The
            manner in which firms communicate with their clients and undertake operations and deliveries undergoes a
            radical transformation.The introduction of technology has resulted in a logistical transformation with
            faster, leaner, and more
            efficient operations,With the advent of automation services, these changes are being adopted at a faster
            rate than ever before.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="first-bar progress-skill-bar">
              <h4>Transportation Industry</h4>
              <span>84%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="second-bar progress-skill-bar">
              <h4>Data Entry</h4>
              <span>88%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="third-bar progress-skill-bar">
              <h4>Solar Energy</h4>
              <span>94%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="third-bar progress-skill-bar">
              <h4>Customer Service</h4>
              <span>94%</span>
              <div class="filled-bar"></div>
              <div class="full-bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>