<div class="main-banner wow fadeIn" id="home" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
              <h5 class="main-heading"><b>Welcome to Adhrit Global <sup class="tradmark_symbol">TM</sup></b></h5>
              <h2>Customer Service &#38;<em> Collections </em><span>Services</span></h2>
              <p>The team Adhrit is having over a decade of experience in customer service,
                collections, and several other services in the Transportation & Renewable
                energy business, we make a marvelous difference to the companies under
                our roof and yes, we are highly competitive in the pricing with the 100% quality
                work as per service or level agreement.</p>
              <!-- <h3>For achieve your sales target & execution. </h3> -->
              <form id="search" action="#" method="GET">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Your Mobile Number..."
                    autocomplete="on" required>
                </fieldset>
                <fieldset>
                  <button type="submit" class="main-button">Contact Us</button>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <img src="assets/images/banner-right-image.png" alt="team meeting">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>