<div id="our_process" class="our-blog section our_process">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="section-heading">
                    <h2>How we Work <em>with</em> you <span> ?</span></h2>
                    <ol class="ul_class">
                        <li class="li_class">
                            <h2>First Step</h2>
                            <p>
                                First step we have is to setup an online meeting with owners and operations managers
                                with your company and understand how your company want to outsource and what can
                                actually be outsourced?
                            </p>
                        </li>
                        <li class="li_class">
                            <h2>Data Security </h2>
                            <p>
                                Data is an asset for the companies even for us, we know the value of confidentiality so
                                we have a non-disclosure agreement that secures your data with a layer of legal
                                security. We are follow customer’s companies in data security case.

                            </p>
                        </li>
                        <li class="li_class">
                            <h2>Transition</h2>
                            <p>
                                we are expert in this. You can rely on our Delivery managers who are dedicated to do
                                this job everyday and they will setup step-by-step process so your work is smoothly
                                moved under our roof. Ideally, it takes 2-3 weeks for smooth transition.

                            </p>
                        </li>
                        <li class="li_class">
                            <h2>Quality & Assurence</h2>
                            <p>
                                We have a meeting every week for monitoring the function & targets, we work until the
                                customer’s satisfaction.
                            </p>
                        </li>
                        <li class="li_class">
                            <h2>Process Development</h2>
                            <p>
                                We always work for improvements for getting best results

                            </p>
                        </li>

                    </ol>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="cstm-why-choose">
                    <img src="assets/images/why-coose-us.png" alt="">
                </div>
            </div>
        </div>
        
         
    </div>
</div>